<!DOCTYPE html>
<html>
	<head>
		<title>Clinico - Responsive Medical and Health Template</title>
		
		<!-- metas -->
		<meta charset="utf-8">
		<meta name="author" content="http://themeforest.net/user/CreativeWS/portfolio">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<!--/ metas -->
		
		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="static/css/layerslider.css">
		<link rel="stylesheet" type="text/css" href="static/css/fullwidth/skin.css">
		<link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="static/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="static/css/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="static/css/styles.css">
		<link rel="stylesheet" type="text/css" href="static/css/color-blue.css">
		
		<!--/ styles -->
		
		<!--[if lt IE 9]><script src="static/js/html5.js"></script><![endif]-->
	</head>
	
	<body>
		<div class="page">

			<!-- page header -->
			<header class="page-header main-page sticky">
				<div class="sticky-wrapp">
					<div class="sticky-container">
						<!-- logo -->
						<section id="logo" class="logo">
							<div>
								<a href="index.html"><img src="static/img/blue/utintensa.png" alt="Clinico"></a>
							</div>
						</section>
						<!--/ logo -->

						<!-- main nav -->
						<nav class="main-nav">
							<ul>
								<li><a href="{{ url_for('home') }}">Inicio</a></li>
								<li><a href="{{ url_for('about') }}">Sobre</a></li>
								<li><a href="{{ url_for('contact') }}">Contato</a></li>
								<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
								{% if 'email' in session %}
								<li><a href="{{ url_for('profile') }}">Perfil</a></li>
								<li><a href="{{ url_for('signout') }}">Sair</a></li>
								{% else %}
								<li><a href="{{ url_for('signin') }}">Entrar</a></li>
								{% endif %}
							</ul>
						</nav>
						<!--/ main nav -->

						<!-- mobile nav -->
						<nav id="mobile-main-nav" class="mobile-main-nav">
							<i class="fa fa-bars"></i><a href="#" class="opener">Navegação</a>
							<ul>
								<li><a href="{{ url_for('home') }}">Inicio</a></li>
								<li><a href="{{ url_for('about') }}">Sobre</a></li>
								<li><a href="{{ url_for('contact') }}">Contato</a></li>
								<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
								{% if 'email' in session %}
								<li><a href="{{ url_for('profile') }}">Perfil</a></li>
								<li><a href="{{ url_for('signout') }}">Sair</a></li>
								{% else %}
								<li><a href="{{ url_for('signin') }}">Entrar</a></li>
								{% endif %}
							</ul>
						</nav>
						<!--/ mobile nav -->
					</div>
				</div>
			</header>
			<!--/ page header -->

<!--/ HEADERS -->

			<!-- page title -->
			<section class="page-title">
				<div class="grid-row clearfix">
					<h1>Perfil</h1>
					
					<nav class="bread-crumbs">
						<a href="index.html">Início</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
						<a href="#">Cadastro de Funcionários</a>
					</nav>
				</div>
			</section>
			<!--/ page title -->

			<main class="page-content">
				<div class="grid-row">
					<div class="grid-col grid-col-5">
						<!-- philosophy -->
						<section class="widget">	
							<div class="widget-title">Cadastro de Funcionários</div>
							<div class="wpb_text_column wpb_content_element">
								<div class="wpb_wrapper">			
									<img src="static/pic/our-phylosophy.jpg" width="260" height="246" alt="" class="alignleft">
								   <div class="grid-col grid-col-4">
									<h2>Login</h2>
									
									<form class="text" action="{{ url_for('createPerson') }}" method=post>
										{{ form.hidden_tag() }}

										{{ form.firstname.label }}
										{{ form.firstname }}

										{{ form.lastname.label}}
										{{ form.lastname }}

										{{ form.cpf.label }}
										{{ form.cpf }}
										 
										{{ form.rg.label }}
										{{ form.rg }}
										
										{{ form.birthDate.label }}
										{{ form.birthDate }}
										
										{{ form.address.label }}
										{{ form.address }}
										
										{{ form.number.label }}
										{{ form.number }}
										
										{{ form.additionalInformation.label }}
										{{ form.additionalInformation }}
										 
										{{ form.district.label }}
										{{ form.district }}
										
										{{ form.region.label }}
										{{ form.region }}
										
										{{ form.country.label }}
										{{ form.country }}
																		
										{{ form.telephone.label }}
										{{ form.telephone }}
										
										{{ form.cellphone.label }}
										{{ form.cellphone }}
										
										{{ form.bloodType.label }}
										{{ form.bloodType }}

										{{ form.role.label }}
										{{ form.role }}
										<br>
										 <div class="wpb_button wpb_wpb_button wpb_btn-arrow-right wpb_regularsize float-right">
											{{ form.submit }}
										</div>
									</form>
								</div>
								</div>
							</div>
						</section>
						<!--/ philosophy -->
					</div>
					<hr>
				</div>
			</div>
			</main>



<!-- FOOTERS -->
			<footer class="page-footer">
				<a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>
				
				<div class="grid-row">
					<div class="grid-col grid-col-3">
						<!-- last news -->
						<section class="widget-alt last-news">
							<div class="widget-icon"></div>
							<div class="widget-title">UTIntensa</div>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit, consectetur adipiscing.</li>
								<li>Donec quis condimentum leo, et congue dolor. Integer auctor facilisis odio. Duis vitae nibh tristique, consectetur lacus a, facilisis rutrum enim.</li>
								<li>Cras fermentum interdum dapibus. Maecenas imperdiet, consectetur adipiscing magna nec odio cursus, vitae consequat ante.</li>
							</ul>
						</section>
						<!--/ last news -->
					</div>
				
					<div class="grid-col grid-col-3">
						<!-- location -->
						<section class="widget-alt location">
							<div class="widget-icon"></div>
							<div class="widget-title">Localização</div>
							<address>Av. Unisinos, 123 CEP 92022-718</address>
							<ul>
								<li><i class="fa fa-phone"></i>(51) 8522-6685</li>
								<li><i class="fa fa-at">@</i>atendimento@utintesa.com.br</li>
								<li><i class="fa fa-skype"></i>UTIntensa</li>
							</ul>
							<nav>
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-instagram"></a>
							</nav>
						</section>
						<!--/ location -->	
					</div>
					<div class="grid-col grid-col-3">
						<!-- last news -->
						<section class="widget-alt recent-posts">
							<div class="widget-icon"></div>
							<div class="widget-title">Especialidades</div>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit, consectetur adipiscing.</li>
								<li>Donec quis condimentum leo, et congue dolor. Integer auctor facilisis odio. Duis vitae nibh tristique, consectetur lacus a, facilisis rutrum enim.</li>
								<li>Cras fermentum interdum dapibus. Maecenas imperdiet, consectetur adipiscing magna nec odio cursus, vitae consequat ante.</li>
							</ul>
						</section>
						<!--/ last news -->
					</div>	
					<div class="grid-col grid-col-3">
						<!-- work time -->
						<section class="widget-alt work-time">
							<div class="widget-icon"></div>
							<dl>
								<dt>Seg</dt>
								<dd>08:00 - 9:00</dd>
								<dt>Ter</dt>
								<dd>10:00 - 11:00</dd>
								<dt>Qua</dt>
								<dd>13:00 - 14:00</dd>
								<dt>Qui</dt>
								<dd>14:00 - 15:00</dd>
								<dt>Sexta</dt>
								<dd>18:00 - 19:00</dd>
								<dt>Sáb</dt>
								<dd>14:00 - 15:00</dd>
								<dt>Dom</dt>
								<dd>14:00 - 16:00</dd>
							</dl>
							<a href="#" class="button">Marque sua visita</a>
						</section>
						<!--/ work time -->							
					</div>
					
				</div>
			</footer>
			<!--/ page footer -->
			
			<!-- copyrights -->
			<div class="copyrights">Copyrights ©2014: Clinico - Responsive Medical and Health Template</div>
			<!--/ copyrights -->

		</div>
		
		<!-- scripts -->
		<script type="text/javascript" src="static/js/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.migrate.min.js"></script>
		<script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.fancybox.pack.js"></script>
		<script type="text/javascript" src="static/js/jquery.fancybox-media.js"></script>
		<script type="text/javascript" src="static/js/jquery.flot.js"></script>
		<script type="text/javascript" src="static/js/jquery.flot.pie.js"></script>
		<script type="text/javascript" src="static/js/jquery.flot.categories.js"></script>
		<script type="text/javascript" src="static/js/greensock.js"></script>
		<script type="text/javascript" src="static/js/layerslider.transitions.js"></script>
		<script type="text/javascript" src="static/js/layerslider.kreaturamedia.jquery.js"></script>

	<!-- Superscrollorama -->		
		<script type="text/javascript" src="static/js/jquery.superscrollorama.js"></script>
		<script type="text/javascript" src="static/js/TweenMax.min.js"></script>
		<script type="text/javascript" src="static/js/TimelineMax.min.js"></script>
	<!--/ Superscrollorama -->
	
		<script type="text/javascript" src="static/js/jquery.ui.core.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.ui.widget.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.ui.tabs.min.js"></script>
		<script type="text/javascript" src="static/js/jquery-ui-tabs-rotate.js"></script>
		<script type="text/javascript" src="static/js/jquery.ui.accordion.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.tweet.js"></script>
	<!-- EASYPIECHART -->
		<script type="text/javascript" src="static/js/jquery.easypiechart.js"></script>
	<!--/ EASYPIECHART -->
		<script type="text/javascript" src="static/js/jquery.autocomplete.min.js"></script>
		<script type="text/javascript" src="static/js/scripts.js"></script>
		<!--/ scripts -->
		
	</body>
</html>