<!DOCTYPE html>
<html>
	<head>
		<title>UTIntensa</title>

		<!-- metas -->
		<meta charset="utf-8">
		<meta name="author" content="Carolina Darski">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<!--/ metas -->

		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layerslider.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullwidth/skin.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color-blue.css') }}">

		<!--/ styles -->

		<!--[if lt IE 9]><script src="{{ url_for('static', filename='js/html5.js') }}"></script><![endif]-->
	</head>

	<body>
		<div class="page">

			<!-- page header -->
			<header class="page-header main-page sticky">
				<div class="sticky-wrapp">
					<div class="sticky-container">
						<!-- logo -->
						<section id="logo" class="logo">
							<div>
								<a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/blue/utintensa.png') }}" alt="UTIntensa"></a>
							</div>
						</section>
						<!--/ logo -->

						<!-- main nav -->
						<nav class="main-nav">
							<ul>
								<li><a href="{{ url_for('home') }}"><i class="fa fa-plus"></i>Inicio</a></li>
								{% if 'email' in session %}
									<li><a href="{{ url_for('dashboardMethod') }}"><i class="fa fa-plus"></i>Painel de Alertas</a></li>
									<li><a href="{{ url_for('recordsList') }}"><i class="fa fa-plus"></i>Visitas Médicas</a> </li>
									<li>
										<a href="#"><i class="fa fa-plus"></i>Cadastros</a>
										<ul>
											<li><a href="{{ url_for('createRecords') }}">Cadastro de Visita Médica Manual</a></li>
											<li><a href="{{ url_for('createMedicament') }}">Cadastro de Medicamento</a></li>
											<li><a href="{{ url_for('createMedicamentType') }}">Cadastro de Tipo de Medicamento</a></li>
											<li><a href="{{ url_for('createPerson') }}">Cadastro de Pacientes</a></li>
											<li><a href="{{ url_for('createPerson') }}">Cadastro de Funcionário</a></li>

										</ul>
									</li>

								    <li><a href="{{ url_for('profile') }}"><i class="fa fa-plus"></i>Perfil</a></li>
									<li><a href="{{ url_for('signout') }}"><i class="fa fa-plus"></i>Sair</a></li>
								{% else %}
									<li><a href="{{ url_for('signin') }}"><i class="fa fa-plus"></i>Entrar</a></li>
								{% endif %}
								<li><a href="{{ url_for('about') }}"><i class="fa fa-plus"></i>Sobre</a></li>
								<li><a href="{{ url_for('contact') }}"><i class="fa fa-plus"></i>Contato</a></li>
							</ul>
						</nav>
						<!--/ main nav -->

						<!-- mobile nav -->
						<nav id="mobile-main-nav" class="mobile-main-nav">
							<i class="fa fa-bars"></i><a href="#" class="opener">Navegação</a>
							<ul>
								<li><a href="{{ url_for('home') }}"><i class="fa fa-plus"></i>Inicio</a></li>
								{% if 'email' in session %}
									<li><a href="{{ url_for('dashboardMethod') }}"><i class="fa fa-plus"></i>Painel de Alertas</a></li>
									<li><a href="{{ url_for('recordsList') }}"><i class="fa fa-plus"></i>Visitas Médicas</a> </li>
									<li>
										<a href="#"><i class="fa fa-plus"></i>Cadastros</a>
										<ul>
											<li><a href="{{ url_for('createRecords') }}">Cadastro de Visita Médica Manual</a></li>
											<li><a href="{{ url_for('createMedicament') }}">Cadastro de Medicamento</a></li>
											<li><a href="{{ url_for('createMedicamentType') }}">Cadastro de Tipo de Medicamento</a></li>
											<li><a href="{{ url_for('createPerson') }}">Cadastro de Pacientes</a></li>
											<li><a href="{{ url_for('createPerson') }}">Cadastro de Funcionário</a></li>
										</ul>
									</li>
								    <li><a href="{{ url_for('profile') }}"><i class="fa fa-plus"></i>Perfil</a></li>
									<li><a href="{{ url_for('signout') }}"><i class="fa fa-plus"></i>Sair</a></li>
								{% else %}
									<li><a href="{{ url_for('signin') }}"><i class="fa fa-plus"></i>Entrar</a></li>
								{% endif %}
								<li><a href="{{ url_for('about') }}"><i class="fa fa-plus"></i>Sobre</a></li>
								<li><a href="{{ url_for('contact') }}"><i class="fa fa-plus"></i>Contato</a></li>
							</ul>
						</nav>
						<!--/ mobile nav -->
					</div>
				</div>
			</header>
			<!--/ page header -->

<!--/ HEADERS -->

			<!-- page title -->
			<section class="page-title">
				<div class="grid-row clearfix">
					<h1>Lista de Registros Médicos</h1>
					
					<nav class="bread-crumbs">
						<a href="index.html">Início</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
						<a href="#">Visitas Médicas</a>
					</nav>
				</div>
			</section>
			<!--/ page title -->

			<main class="page-content">
				<div class="grid-row">
					<section>
						<a href="{{ url_for('createRecords') }}" class="button more"><i class="fa fa-plus"></i>Novo</a>
					</section>
					<div class="grid-row">
						<!-- news -->
						<section id="doctors" class="doctors">
							<div class="grid" id="g">
								<div class="item">
									<h3><a href="#">Nullam euismod commodo</a></h3>
									<div class="date">20 AUG 2014<i class="fa fa-comment"><span>3</span></i></div>
									<div class="pic">
										<img src="pic/photo-tour-1.jpg" alt="Nullam euismod commodo">
										<div class="links">
											<ul>
												<li><a href="#" class="fa fa-plus"></a></li>
											</ul>
										</div>
									</div>
									<p>Mauris vitae quam quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer ullamcorper ultricies eros eu consequat. Nullam convallis volutpat nunc, gravida vestibulum mauris interdum et. Nunc tristique eros nec dictum blandit. Cras eu turpis augue. Ut non molestie nulla. Nulla nec rutrum tortor, in fermentum nisl <a href="#">&rarr;</a></p>
									<div class="cats">Posted in: <a href="#">Dental Clinic</a>, <a href="#">General</a>, <a href="#">News</a></div>
								</div>
							</div>
						</section>
					</div>
					<hr>
				</div>
			</main>


			<!-- page footer -->
			<footer class="page-footer">
				<a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>

				<div class="grid-row">
					<div class="grid-col grid-col-3">
						<!-- last news -->
						<section class="widget-alt last-news">
							<div class="widget-icon"></div>
							<div class="widget-title">UTIntensa</div>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit, consectetur adipiscing.</li>
								<li>Donec quis condimentum leo, et congue dolor. Integer auctor facilisis odio. Duis vitae nibh tristique, consectetur lacus a, facilisis rutrum enim.</li>
								<li>Cras fermentum interdum dapibus. Maecenas imperdiet, consectetur adipiscing magna nec odio cursus, vitae consequat ante.</li>
							</ul>
						</section>
						<!--/ last news -->
					</div>

					<div class="grid-col grid-col-3">
						<!-- location -->
						<section class="widget-alt location">
							<div class="widget-icon"></div>
							<div class="widget-title">Localização</div>
							<address>Av. Unisinos, 123 CEP 92022-718</address>
							<ul>
								<li><i class="fa fa-phone"></i>(51) 8522-6685</li>
								<li><i class="fa fa-at">@</i>atendimento@utintesa.com.br</li>
								<li><i class="fa fa-skype"></i>UTIntensa</li>
							</ul>
							<nav>
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-instagram"></a>
							</nav>
						</section>
						<!--/ location -->
					</div>
					<div class="grid-col grid-col-3">
						<!-- last news -->
						<section class="widget-alt recent-posts">
							<div class="widget-icon"></div>
							<div class="widget-title">Especialidades</div>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit, consectetur adipiscing.</li>
								<li>Donec quis condimentum leo, et congue dolor. Integer auctor facilisis odio. Duis vitae nibh tristique, consectetur lacus a, facilisis rutrum enim.</li>
								<li>Cras fermentum interdum dapibus. Maecenas imperdiet, consectetur adipiscing magna nec odio cursus, vitae consequat ante.</li>
							</ul>
						</section>
						<!--/ last news -->
					</div>
					<div class="grid-col grid-col-3">
						<!-- work time -->
						<section class="widget-alt work-time">
							<div class="widget-icon"></div>
							<dl>
								<dt>Seg</dt>
								<dd>08:00 - 9:00</dd>
								<dt>Ter</dt>
								<dd>10:00 - 11:00</dd>
								<dt>Qua</dt>
								<dd>13:00 - 14:00</dd>
								<dt>Qui</dt>
								<dd>14:00 - 15:00</dd>
								<dt>Sexta</dt>
								<dd>18:00 - 19:00</dd>
								<dt>Sáb</dt>
								<dd>14:00 - 15:00</dd>
								<dt>Dom</dt>
								<dd>14:00 - 16:00</dd>
							</dl>
							<a href="#" class="button">Marque sua visita</a>
						</section>
						<!--/ work time -->
					</div>

				</div>
			</footer>
			<!--/ page footer -->

		</div>

		<!-- scripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.migrate.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox-media.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.pie.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.categories.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/greensock.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/layerslider.transitions.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/layerslider.kreaturamedia.jquery.js') }}"></script>

	<!-- Superscrollorama -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.superscrollorama.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/TimelineMax.min.js') }}"></script>
	<!--/ Superscrollorama -->

		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.core.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.widget.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.tabs.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-tabs-rotate.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.accordion.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tweet.js') }}"></script>
	<!-- EASYPIECHART -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easypiechart.js') }}"></script>
	<!--/ EASYPIECHART -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
		<!--/ scripts -->
		<script type="text/javascript">
			var d = {{ objectUpdate | safe }}
			function doPoll(){
				$.post('/recordsUpdate', d, function(response) {
					var string;
					var contentModified = '';
					var cModified = '';
					json = JSON.parse(response);
					$(json.data).each(function(index){
						contentModified = contentModified + '<br>' +
															'<div class="item">' +
															'<h3><a href="' + '{{ url_for("createRecords", id=999999) }}' + '">' + this.namePatient + '</a></h3>' +
															'<p>' + this.description + '<a href="#">&rarr;</a></p>' +
															'<div class="pic">' +
																	'<img src="' + '{{ url_for("static", filename="pictures/ana.jpg") }}' + '" alt="Nullam euismod commodo">' +
																	'<div class="links">' +
																		'<ul>' +
																			'<li><a href="' + '{{ url_for("createRecords", id=999999) }}' + '" class="fa fa-plus"></a></li>' +
																		'</ul>' +
																	'</div>'+
																'</div>' +
															'</div>';

						cModified = contentModified.replace('999999', this.id);
						cModified = cModified.replace('999999', this.id);
						contentModified = cModified;
    				});
    				$.get( "/main.html", function( data ){
									string = data;
								}, "html");
					document.getElementById("g").innerHTML = contentModified;
    				//$( "#dash" ).empty().append( content );
					setTimeout(doPoll,5000);
				});
			}
			doPoll()

		</script>
	</body>
</html>